.body{
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
    width: 100%;
}
.upper{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 20%;

}
.logo{
    display: flex;
    justify-content: start;
    align-items:baseline;
    flex-direction: column;
    width: 40%;
}
.firsth1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}
.secondh1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color:#ffd600;
    margin-top: -20px;
}
.admin-sign{
    width: 60%;
    display:flex;
    align-items: center;
    justify-content: start;
    margin-left: 100px;
}
.admin-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #9c9c9c;
    height: 400px;
    width: 100%;
    border: 1px solid black;
}
.admin-box button {
    font-size: 20px;
}
.admin-box button:hover{
    background-color: #5597d4;
}
.schedule-data {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 20%;
    margin-bottom: 10px;
}
.schedule-data :nth-child(n) {
    width: 200px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid black;
    margin: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.availability-data {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 20%;
    margin-bottom: 10px;
}
.availability-data :nth-child(n) {
    width: 200px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid black;
    margin: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.car-data {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 20%;
    margin-bottom: 10px;
}
.car-data :nth-child(n) {
    width: 200px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid black;
    margin: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.driver-data {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 20%;
    margin-bottom: 10px;
}
.driver-data :nth-child(n) {
    width: 200px;
    background-color: white;
    margin-bottom: 15px;
    border: 1px solid black;
    margin: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.logout-button{
    position: absolute;
    left: 5%;
    bottom: 5%;
    width: 200px;
    height: 50px;
    background-color: #fafafa;
    font-size: 30px;
    margin-top: 50px;
}